:root {
    --vp-c-brand: #0284c7;
    --vp-c-brand-light: #0ea5e9;
    --vp-c-brand-lighter: #38bdf8;
    --vp-c-brand-dark: #0369a1;
    --vp-c-brand-darker: #075985;
    --vp-font-family-mono: monospace;
}
